In [381]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [382]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
train.head(15)
Loan_ID=test['Loan_ID']

In [383]:
test.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban

In [384]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [385]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [386]:
train['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [387]:
train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [388]:
train["Self_Employed"].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [389]:
la=train['LoanAmount'].mean()

In [390]:
train['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [391]:
train["Loan_Amount_Term"].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [392]:
#Data Wrangling
combine=[train,test]
for dataset in combine:
    dataset['Gender'].fillna("Male",inplace=True)
    dataset['Married'].fillna("Yes",inplace=True)
    dataset['Dependents'].fillna(0,inplace=True)
    dataset['Self_Employed'].fillna("No",inplace=True)
    dataset['LoanAmount'].fillna(la,inplace=True)
    dataset['Loan_Amount_Term'].fillna(360.0,inplace=True)
    dataset['Credit_History'].fillna(1.0,inplace=True)

In [393]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [394]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [395]:
for dataset in combine:
    dataset["Gender"]=dataset["Gender"].map({'Male':0, 'Female':1}).astype(int)
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,0,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N

In [396]:
for dataset in combine:
    dataset["Married"]=dataset["Married"].map( {'No':0, 'Yes':1}).astype(int)
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,0,1,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N

In [397]:
for dataset in combine:
    dataset["Education"]=dataset["Education"].map( {'Not Graduate':0, 'Graduate':1}).astype(int)
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,1,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,0,1,1,1,No,4583,1508.0,128.000000,360.0,1.0,Rural,N

In [398]:
for dataset in combine:
    dataset["Self_Employed"]=dataset["Self_Employed"].map( {'No':0, 'Yes':1}).astype(int)
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,0,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,Rural,N

In [399]:
for dataset in combine:
    dataset["Property_Area"]=dataset["Property_Area"].map( {'Semiurban':0, 'Urban':1, 'Rural':2}).astype(int)
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,1,Y
1,LP001003,0,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,2,N

In [400]:
train=train.drop('Loan_ID', axis=1)
train.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,1,Y
1,0,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,2,N

In [401]:
test=test.drop('Loan_ID', axis=1)
test.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,1,0,5720,0,110.0,360.0,1.0,1
1,0,1,1,1,0,3076,1500,126.0,360.0,1.0,1

In [402]:
train.Dependents.value_counts()

0     345
1     102
2     101
3+     51
0      15
Name: Dependents, dtype: int64

In [403]:
#splitting into test and train
m_train,m_test=train_test_split(train,test_size=0.2, random_state=0)
x_train=m_train.drop('Loan_Status',axis=1)
y_train=m_train['Loan_Status']

x_test=m_test.drop('Loan_Status',axis=1)
y_test=m_test['Loan_Status']

In [404]:

x_train.shape

(491, 11)

In [405]:
x_test.shape

(123, 11)

In [406]:
#to get dummy vars
x_train=pd.get_dummies(x_train)
x_test=pd.get_dummies(x_test)

In [407]:
x_test.drop('Dependents_0',axis=1, inplace=True)
x_test.shape

(123, 13)

In [408]:
cols = [10]
x_train.drop(x_train.columns[cols],axis=1,inplace=True)
x_train.shape

(491, 13)

In [409]:
test=pd.get_dummies(test)

In [410]:
test.drop('Dependents_0',axis=1,inplace=True)
test.shape

(367, 13)

In [424]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 90 to 559
Data columns (total 13 columns):
Gender               491 non-null int32
Married              491 non-null int32
Education            491 non-null int32
Self_Employed        491 non-null int32
ApplicantIncome      491 non-null int64
CoapplicantIncome    491 non-null float64
LoanAmount           491 non-null float64
Loan_Amount_Term     491 non-null float64
Credit_History       491 non-null float64
Property_Area        491 non-null int32
Dependents_1         491 non-null uint8
Dependents_2         491 non-null uint8
Dependents_3+        491 non-null uint8
dtypes: float64(4), int32(5), int64(1), uint8(3)
memory usage: 34.0 KB

# Random Forest

In [411]:
from sklearn.ensemble import RandomForestClassifier
rfmodel= RandomForestClassifier(n_estimators=70)
#predictions=model.predict(x_test)
rfmodel.fit(x_train, y_train)
rfmodel.score(x_test,y_test)

0.7967479674796748

In [412]:
pred = rfmodel.predict(test)

In [413]:
#to find feature importance

for i, j in sorted(zip(x_train.columns, rfmodel.feature_importances_)):
    print(i, j)

ApplicantIncome 0.20001897445725494
CoapplicantIncome 0.11899384912139223
Credit_History 0.26924078068546625
Dependents_1 0.02111872205208794
Dependents_2 0.01697354800031432
Dependents_3+ 0.013816851317200304
Education 0.024706441209481254
Gender 0.017271941723695016
LoanAmount 0.1800596832806587
Loan_Amount_Term 0.03917818870372496
Married 0.02507260296781402
Property_Area 0.054891558806667
Self_Employed 0.018656857674242876

# ADABoost

In [414]:
from sklearn.ensemble import AdaBoostClassifier
adamodel = AdaBoostClassifier(random_state=1,n_estimators = 80)
adamodel.fit(x_train, y_train)
adamodel.score(x_test,y_test)

0.8373983739837398

In [415]:
adaprediction=adamodel.predict(test)

# GBM

In [416]:
from sklearn.ensemble import GradientBoostingClassifier
gbmodel= GradientBoostingClassifier(learning_rate=0.01,random_state=1)
gbmodel.fit(x_train, y_train)
gbmodel.score(x_test,y_test)

0.8292682926829268

In [417]:
gbmodel_prediction=gbmodel.predict(test)

In [418]:
#import xgboost as xgb
#xgmodel=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
#xgmodel.fit(x_train, y_train)
#xgmodel.score(x_test,y_test)

# Logistic Regression

In [419]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)
logprediction=logmodel.predict(test)

# output

In [420]:
df=pd.DataFrame(Loan_ID)
df["Loan_Status"]  = pred
df.to_csv("rfmodel.csv",index=False)